# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules/
.idea/
venv/
.env
.env-prod

# cache folder
cache/*
!cache/.gitkeep
__pycache__/
*.pyc


# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

package-lock.json

/dev/geckodriver.log

.vscode/
/aws/

# Misc
*.xlsx#
aws/*

technical-test-stackadoc.iml